HTML CSSResult Skip Results Iframe .wrapper {
  height: 420px;
  width: 654px;
  border-radius: 7px 7px 7px 7px;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.container-card {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  /* align-items: center; */
}

.product-img {
  float: left;
  height: 420px;
  width: 327px;
}

.product-img img {
  border-radius: 7px 0 0 7px;
}

.product-info {
  float: left;
  height: 420px;
  width: 327px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.product-text {
  height: 300px;
  width: 327px;
}

.product-text h1 {
  margin: 0 0 0 38px;
  padding-top: 52px;
  font-size: 34px;
  color: #474747;
}

.product-text h2 {
  margin: 0 0 47px 38px;
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.product-text p {
  height: 125px;
  margin: 0 0 0 38px;
  font-family: "Playfair Display", serif;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}

.product-price-btn {
  /* height: 103px;
  width: 327px; */
  margin-top: 17px;
  /* position: relative; */
  display: flex;
  justify-content: space-evenly;
}

/* span {
  display: inline-block;
  height: 50px;
  font-family: "Suranna", serif;
  font-size: 34px;
} */

.product-price-btn .buy {
  /* float: right; */
  /* display: inline-block; */
  height: 50px;
  width: 116px;
  /* margin: 0 40px 0 16px; */
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #9cebd5;
  cursor: pointer;
  outline: none;
}

.delete {
  /* float: right; */
  /* display: inline-block; */
  height: 50px;
  width: 116px;
  /* margin: 0 40px 0 16px; */
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: rgb(185, 44, 44);
  cursor: pointer;
  outline: none;
}

.product-price-btn .buy:hover {
  background-color: #79b0a1;
}

.product-price-btn .delete:hover {
  background-color: red;
}
